<h1>Metric Data Form</h1>
<div class="metric-form">
  <form [formGroup]="metricForm" (ngSubmit)="onSubmit()">
    <div formGroupName="metrics">
      <div *ngFor="let label of labels; let i = index">
        <label>{{ label }}:</label>
        <input [id]="'metric' + (i+1)" [formControlName]="'metric' + (i+1)" type="number" pInputText>
      </div>
    </div>
    <div>
      <label for="date">Date:</label>
      <input id="date" formControlName="date" type="date" pInputText>
    </div>
    <div *ngFor="let labelCtrl of labelsFormArray.controls; let i = index">
      <label>{{ labels[i] }} Label:</label>
      <input [formControlName]="i" type="text" pInputText>
    </div>
    <p-button label="Add Entry" icon="pi pi-plus" (click)="addEntry()" [disabled]="metricForm.invalid"></p-button>
  </form>

  <p-table [value]="entries">
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let label of labels">{{ label }}</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-entry let-i="rowIndex">
      <tr>
        <td *ngFor="let label of labels">{{ entry.dataValue[label] }}</td>
        <td>{{ entry.dataDate | date: 'MM/dd/yyyy' }}</td>
        <td>
          <p-button icon="pi pi-trash" class="p-button-danger" (click)="removeEntry(i)"></p-button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="4">No entries found.</td>
      </tr>
    </ng-template>
  </p-table>

  <p-button label="Submit" icon="pi pi-check" (click)="onSubmit()" [disabled]="entries.length === 0"></p-button>
</div>
