<div id="sidebar">

    <div id="menu">
        <a [routerLink]="['/user-home-page']" routerLinkActive="router-link-active"  class="nav-item nav-link  my-auto main" id="user-home-page">user-home-page</a> 
                    <a [routerLink]="['/group-search']" routerLinkActive="router-link-active" class="nav-item nav-link my-auto main" id="group-search">Group Search</a>
                    <a [routerLink]="['/Conversations']" routerLinkActive="router-link-active" class="nav-item nav-link my-auto main" id="Conversations">Conversations</a>
    </div>


</div>