.graph-container {
  width: 100%;
  height: 100vh; // Make the height fill the viewport height
  max-width: 100%; // Ensure it doesn't exceed the screen width
  overflow: hidden; // Hide any overflow content

  .graph-content {
    width: 100%;
    height: calc(100% - 50px); // Adjust the height considering other elements like dropdowns
  }

  canvas {
    width: 100% !important;
    height: 75% !important;
  }
}
